# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.venv/
__pycache__/

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/

# IDE files
.vscode/
*.pyc

# OS files
.DS_Store
Thumbs.db
